.card{
  position: relative;
}

.card img{
  width: 125px;
  height:125px;
  display: block;
  border:2px solid #fff;
  border-radius: 6px;
}

/* front of card - the picture */
.card .front{
  transform: rotatey(90deg);
  position: absolute;
}

.flipped .front{
  transform: rotateY(0);
}

/* back of card - cover */
.card .back{
  transition: all ease-in 0.2s;
  transition-delay: 0.2s;
}

.flipped .back{
  transform: rotateY(90deg);
  transition-delay: 0s;
}